body{

    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    
}
h1{
    color: cornflowerblue;
    font-size: 5.625rem;
    margin:50px auto 0 auto;
    font-family: 'Sacramento', sans-serif;

}
h2{
    color: cornflowerblue;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 2.5rem;
    padding-bottom: 10px;
}
h3{
    color: cornflowerblue;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 2.5rem;
}
hr{

    border: dotted #EAF6F6;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}


.skill-row{
    
    width: 60%;
    margin: 100px auto 100px auto;
    
    text-align: left;
    line-height: 2;
}
.code-img{
    
    width: 25%;
    float: left;
    margin: right 30px; 
}

.chilli-img{
    width: 25%;
    float:left;
    margin-left: 30px;
}
.top{
    background-color: #F9F5E7;
    position: relative;
    padding-top:40px ;

}
.middle{
    
}
.bottom{
    background-color: #2980b9;
    padding: 50px 0 20px;
}
.intro{
    width: 30%;
    margin: auto;
}
.topcloud{
    position: absolute;
    right: 300px;
    top: 50px;
}
a{
    color: #3cb0fd;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px 20px;
    text-decoration: none;

}
a:hover{
    background-color: aquamarine;
}
.bottomcloud{
 position: absolute; 
 left: 300px;
 bottom: 300px;  
}
.contact-message
{
    width: 40%;
    margin: 40px auto 60px  ;

}
.btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }
.copyright{
    color: aqua;
    font-size: o.75rem;
    padding: 20px 0px;
}


body{

    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    
}
h1{
    color: cornflowerblue;
    font-size: 5.625rem;
    margin:50px auto 0 auto;
    font-family: 'Sacramento', sans-serif;

}
h2{
    color: cornflowerblue;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 2.5rem;
    padding-bottom: 10px;
}
h3{
    color: cornflowerblue;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 2.5rem;
}
hr{

    border: dotted #EAF6F6;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}


.skill-row{
    
    width: 60%;
    margin: 100px auto 100px auto;
    
    text-align: left;
    line-height: 2;
}
.code-img{
    
    width: 25%;
    float: left;
    margin: right 30px; 
}

.chilli-img{
    width: 25%;
    float:left;
    margin-left: 30px;
}
.top{
    background-color: #F9F5E7;
    position: relative;
    padding-top:40px ;

}
.middle{
    
}
.bottom{
    background-color: #2980b9;
    padding: 50px 0 20px;
}
.intro{
    width: 30%;
    margin: auto;
}
.topcloud{
    position: absolute;
    right: 300px;
    top: 50px;
}
a{
    color: #3cb0fd;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px 20px;
    text-decoration: none;

}
a:hover{
    background-color: aquamarine;
}
.bottomcloud{
 position: absolute; 
 left: 300px;
 bottom: 300px;  
}
.contact-message
{
    width: 40%;
    margin: 40px auto 60px  ;

}
.btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }
.copyright{
    color: aqua;
    font-size: o.75rem;
    padding: 20px 0px;
}
.to-center{
    text-align: center;
}

#clock {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
  }
